.container {
  background-color: white;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(58, 206, 9, 0.505);
  background-repeat: no-repeat;
}
.filters {
  background-color: red;
  /* height: calc(70vh - 20px); */
  top: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1;
}
.results {
  background-color: rgba(90, 136, 230, 0.992);
  width: 75%;
  height: calc(40vh + 27px);
  position: absolute;
  left: 13%;
  overflow-y: hidden;
  margin: 0;
  top: calc(55% + 10px);
  border-radius: 20px 20px 0 0;
}

.form-field {
  border: none;
  border-radius: 8px;
  background-color: white;
  /* outline: none; */
  width: 400px;
  height: 40px;
  margin-left: 40px;
  margin-top: 30px;
  font-family: 'Baloo'; 
  color: rgba(0, 0, 0, 0.60);
  font-size: 20px;
}
.button-visit {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgba(22, 75, 124, 0.51);
  /* background-color: rgba(57, 113, 226, 0.992); */
  cursor: pointer;
  font-family: 'Baloo';
  color: white;
  border-radius: 8px;
  width: 150px;
  height: 40px;
    margin-left: 50px;
  /* margin-right: 180px; */
  margin-top: 10px;
}
.header {
  height: 25px;
  background-color: grey;
}
iframe {
  margin-top: -60px;
  /* Ajuste o valor negativo conforme necessário */
}
h2 {
  /* align-items: center; */
  text-align: center;
  color: hsl(120, 87%, 15%);
  text-decoration: underline;
}